<section class="basic-grid">
  <div>
    <app-equipmentitem [player]="player" [item]="9"></app-equipmentitem>
  </div>
  <div>
    <app-equipmentitem [player]="player" [item]="2"></app-equipmentitem>
  </div>
  <div>
    <app-equipmentitem [player]="player" [item]="7"></app-equipmentitem>
  </div>
  <div>
    <app-equipmentitem [player]="player" [item]="0"></app-equipmentitem>
  </div>
  <div>
    <app-equipmentitem [player]="player" [item]="3"></app-equipmentitem>
  </div>
  <div>
    <app-equipmentitem [player]="player" [item]="6"></app-equipmentitem>
  </div>
  <div>
    <app-equipmentitem [player]="player" [item]="8"></app-equipmentitem>
  </div>
  <div>
    <app-equipmentitem [player]="player" [item]="4"></app-equipmentitem>
  </div>
  <div>
    <app-equipmentitem [player]="player" [item]="5"></app-equipmentitem>
  </div>
  <div>
    <img
      src="./assets/icons/potion.png"
      alt="{{ this.player.potions.tinyPotion }}"
      class="icons"
      tooltip="Tiny hp potions heal 10 hp"
    />
    <span> {{ this.player.potions.tinyPotion }}</span>
  </div>
  <div>
    <img
      src="./assets/icons/potion.png"
      alt="{{ this.player.potions.potion }}"
      class="icons"
      tooltip="Potions heal 50 hp"
    />
    <span> {{ this.player.potions.potion }}</span>
  </div>
  <div>
    <img
    src="./assets/icons/potion.png"
    alt="{{ this.player.potions.giantPotion }}"
    class="icons"
    tooltip="Giant Potions heal 200 hp"
  />
  <span> {{ this.player.potions.giantPotion }}</span>
  </div>
</section>
