.home {
  /* The image used */
  background-image: url("../assets/background_1.jpg");
  /* Full height */
  height: 150vh;
  min-height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  color: black;
}

.displayArea {
  margin-left: 5rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .displayArea {
    margin-left: 0;
    padding: 0;
  }
}
