<div class="container home">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1
            style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 80px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;">
            Solaria Idle</h1>
        <h2
            class="color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;">
            Fight monsters, collect loot and become the strongest adventurer in the land</h2>  

        <div class="text center">
            <button type="button" class="btn btn-danger btn-lrg mr-2 button"
                (click)="openModal(login)">Login</button>
        </div>    
        <div class="text center">
            <button type="button" class="btn btn-danger btn-lrg mr-2 button"
                (click)="openModal(register)">Register</button>
        </div>


    </div>

    <ng-template #login>
        <div class="modal-body">
            <app-login (cancelLogin)="cancelLoginMode($event)"></app-login>
        </div>
    </ng-template>

    <ng-template #register>
        <div class="modal-body">
            <app-register (cancelRegister)="cancelRegisteredMode($event)"></app-register>
        </div>
    </ng-template>

</div>