.bg-black-75 {
  background-color: #23232e;
  color: white;
}

.no-gutters {
  padding: 0;
  margin-left: 0.3rem;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}
.font-size-sm {
  font-size: 0.875rem !important;
}
.font-w400 {
  font-weight: 400 !important;
}
.text-danger {
  color: #e56767 !important;
}

.btn-alt-success:hover {
  color: #176044;
  background-color: #a0e8cd;
  border-color: #a0e8cd;
}
.btn:hover {
  color: #343a40;
  text-decoration: none;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
.btn-alt-success {
  color: #176044;
  background-color: #bff0dd;
  border-color: #bff0dd;
}

.btn-gamemode-standard {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.font-size-sm {
  font-size: 0.875rem !important;
}
.font-w400 {
  font-weight: 400 !important;
}
.text-info {
  color: #5cace5 !important;
}

.hero-static {
  min-height: 100vh;
}

.battleArea {
  background-color: rgba(23, 23, 46, 1);
}

.btndelete {
  height: 100%;
}

.characterSelect {
  background-color: rgba(23, 23, 46, 1);
  border-radius: 10px;
}

.chooseMonster {
  background-color: rgba(23, 23, 46, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
}

.top-bar {
  margin-left: 13vw;
  margin-right: 0rem;
}

.chooseMonster :hover {
  opacity: 0.8;
}

.monsters {
  margin-left: 13rem;
}

.header {
  margin-right: 2rem;
}
