<!-- <div>
  <div class="row">
    <app-monster-select (monsterSelected)="changeMonster($event)"></app-monster-select>
    <div class="col-6">
      <div class="monsterStats text-center">
        <div class="row">
          <div class="col-3">
            <div class="mt-3">
              <img src="./assets/icons/dmg.png" alt="{{ this.player.damage }}" class="icons"
                tooltip="Maximum possible hit you could deal" />
              <strong>
                {{ this.player.damage + this.playerBonus.damage }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/armour.png" alt="{{ this.player.armour }}" class="icons"
                tooltip="Reduces the amount of damage taken" />
              <strong>
                {{ this.player.armour + this.playerBonus.armour }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/accuracy.png" alt="{{ this.player.accuracy }}" class="icons"
                tooltip="Attack changes your chance to hit" />
              <strong>
                {{ this.player.accuracy + this.playerBonus.accuracy }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/evasion.png" alt="{{ this.player.evasion }}" class="icons"
                tooltip="Evasion allows you to dodge attacks completely" />
              <strong>
                {{ this.player.evasion + this.playerBonus.evasion }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/gold.png" alt="{{ this.player.gold }}" class="icons"
                tooltip="Your total amount of gold" />
              <strong> {{ this.player.gold }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/xp.png" alt="{{ this.player.xp }}" class="icons"
                tooltip="XP is required to level up and grow stronger" />
              <strong> {{ this.player.xp }}/{{ this.player.xpMax }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/chance.png" alt="ChanceToHit" class="icons"
                tooltip="Your chance to hit the enemy" />
              <strong> {{ this.calculatePlayerChanceToHit() }}%</strong>
            </div>
          </div>
          <div class="col-6">
          </div>
          <div class="col-3">
            <div class="mt-3">
              <img src="./assets/icons/potion.png" alt="{{ this.player.potions.tinyPotion }}" class="icons"
                tooltip="Tiny hp potions heal 10 hp" />
              <strong> {{ this.player.potions.tinyPotion }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="monsterStats text-center">
        <div class="row">
          <div class="col-3">
            <div class="mt-2">
              <img src="./assets/icons/dmg.png" alt="{{ this.monster.name }}" class="icons"
                tooltip="Monsters maximum hit" />
              <strong> {{ this.monster.damage }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/chance.png" alt="ChanceToHit" class="icons"
                tooltip="Enemies Chance to land a hit" />
              <strong> {{ this.calculateMonsterChancetoHit() }}%</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/armour.png" alt="{{ this.monster.armour }}" class="icons"
                tooltip="Monsters defence reduces damage" />
              <strong> {{ this.monster.armour }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/accuracy.png" alt="{{ this.monster.accuracy }}" class="icons"
                tooltip="Monsters chance to hit" />
              <strong> {{ this.monster.accuracy }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/evasion.png" alt="{{ this.monster.evasion }}" class="icons"
                tooltip="Monsters chance to dodge an attack" />
              <strong> {{ this.monster.evasion }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/gold.png" alt="{{ this.monster.gold }}" class="icons"
                tooltip="Gold reward from defeating this monster" />
              <strong> {{ this.monster.gold }}</strong>
            </div>
            <div class="mt-3">
              <img src="./assets/icons/xp.png" alt="{{ this.monster.xp }}" class="icons"
                tooltip="XP reward from defeating this monster" />
              <strong> {{ this.monster.xp }}</strong>
            </div>
          </div>
          <div class="col-6">
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </div>
    <div class="col-6 mt-2">
    </div>
  </div>
</div> -->

<section class="animated-grid">
  <div class="card">
    <div class="mb-1">
      <strong>Player (Lvl: {{ this.player.level }})</strong>
    </div>
    <p class="text-danger mb-1 floating-text">
      {{ this.monsterDamage }}
    </p>
    <div class="mb-1">
      {{ this.player.hp }} /
      {{ this.player.hpMax + this.playerBonus.hpMax }}
      <progressbar
        style="border-radius: 20px"
        class="progress-striped"
        [max]="this.player.hpMax + this.playerBonus.hpMax"
        [value]="this.player.hp"
        type="success"
      ></progressbar>
    </div>
    <img src="{{ './assets/player_1.svg' }}" class="monsterImage" />
    <div>
      <strong>Attack speed: 4 seconds</strong>
      <progressbar
        style="border-radius: 20px"
        class="progress-striped active"
        [value]="value"
        [max]="750"
        type="warning"
        animate="true"
      ></progressbar>
    </div>
  </div>
  <div class="card">
    <div class="mb-1">
      <strong>{{ this.monster.name }} (Lvl: {{ this.monster.level }})</strong>
    </div>
    <p class="text-success floating-text">{{ this.playerDamage }}</p>
    <div class="mb-1">
      {{ this.monster.hp }} / {{ this.monster.hpMax }}
      <progressbar
        style="border-radius: 20px"
        class="progress-striped active"
        [max]="this.monster.hpMax"
        [value]="this.monster.hp"
        type="danger"
      ></progressbar>
    </div>
    <img
      src="./assets/monsters/{{ this.monster.name }}.svg"
      alt="{{ this.monster.name }}"
      class="monsterImage"
    />
    <div>
      <strong>Attack speed: 4 seconds</strong>
      <progressbar
        style="border-radius: 20px"
        class="progress-striped active"
        [value]="value"
        [max]="750"
        type="warning"
        animate="true"
      ></progressbar>
    </div>
  </div>
  <div class="card">
    <tabset class="text-warning">
      <tab heading="Equipment" id="tab1">
        <div class="text-center">
          <div>
            <app-equipment-slot [player]="player"></app-equipment-slot>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <div class="card">
    <div>
      <app-loot [player]="player"></app-loot>
    </div>
  </div>
  <div class="card">e</div>
  <div class="card">f</div>
</section>
