.monsterStats {
  color: white;
}

.playerCard {
    border: solid gold 1px;
    border-radius: 5px;
}

.monsterCard {
    border: solid red 1px;
    border-radius: 5px;
}

.monsterImage {
  width: 15rem;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .monsterImage {
    width: 100%;
  }
}

.icons {
  width: 2em;
  float: left;
}

.floating-text {
  position: absolute;
  z-index: 10000;
  margin-bottom: 20px;
  -webkit-animation: floatBubble 5s infinite normal ease-out;
  animation: floatBubble 5s infinite normal ease-out;
}

@-webkit-keyframes floatBubble {
  0% {
    top: 60px;
  }
  100% {
    top: 60px;
  }
}
@keyframes floatBubble {
  0% {
    top: 60px;
  }
  100% {
    top: 0px;
  }
}

.animated-grid {
  height: 100vh;
  margin-bottom: 200px;

  display: grid;

  /* Explicit grid */
  grid-template-areas:
    "c a b"
    "d e f";

  grid-template-rows: repeat(4, 50%);
  grid-template-columns: repeat(3, 33%);

  --stagger-delay: 100ms;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.card {
  text-align: center;
  color: white;
  background-color: rgba(55, 44, 49, 0.6);
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

.card:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
}
.card:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
}
.card:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
}
.card:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
}
.card:nth-child(5) {
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
}
.card:nth-child(6) {
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
}

@media only screen and (max-width: 900px) {
  .animated-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(1, 50%);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
  }
}
