.monsterStats {
  color: white;
}

.playerCard {
    border: solid gold 1px;
    border-radius: 5px;
}

.monsterCard {
    border: solid red 1px;
    border-radius: 5px;
}

.monsterImage {
  width: 17rem;
  margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
  .monsterImage {
    width: 100%;
  }
}

.icons {
  width: 1.5rem;
  margin-right: 1rem;
}

.floating-text {
  position: absolute;
  margin-top: 5rem;
  z-index: 10000;
  -webkit-animation: floatBubble 4s infinite normal ease-out;
  animation: floatBubble 4s infinite normal ease-out;
}

@-webkit-keyframes floatBubble {
  0% {
    top: 60px;
  }
  100% {
    top: 60px;
  }
}
@keyframes floatBubble {
  0% {
    top: 60px;
  }
  100% {
    top: 0px;
  }
}

.animated-grid {
  height: 100%;
  margin-left: 13rem;
  display: grid;

  /* Explicit grid */
  grid-template-areas:
    "b a"
    "d c";

  grid-template-rows: repeat(1, 45%);
  grid-template-columns: repeat(1, 50%);

  --stagger-delay: 100ms;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.gridSpot {
  color: white;
  border-radius: 5px;
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.gridSpot:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
}
.gridSpot:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
}
.gridSpot:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
}
.gridSpot:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
}

@media only screen and (max-width: 1200px) {
  .animated-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(1, 45%);
    grid-template-areas:
      "b"
      "a"
      "c"
      "d";
  }
}

.bar {
  border: 1px solid #666;
  border-radius: 15px;
  height: 17px;
  width: 100%;
}

.in {
  animation: fill 4s linear 1;
  animation-iteration-count: infinite;
  height: 100%;
  background-color: gold;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.monster-area {
  background-color: rgba(23, 23, 46, 0.8);
  display: inline-flex;
  border: 1px solid white;
  flex-direction: row;
  border-radius: 15px;
  padding-bottom: 1rem;
}

.loot-container {
  background-color: rgba(23, 23, 46, 1);
  border-radius: 15px;
  min-height: 25vh;
  margin-right: 1rem;
}

.equipment {
  margin-top: 1rem;
  width: 5rem;
  height: 5rem;
}

.collect {
  right: 0;
}

