<form
  [formGroup]="$any(loginForm)"
  (ngSubmit)="loginForm.valid && login()"
  autocomplete="off"
>
  <span style="font-size: 15px;" class="text-center">
    Welcome, please login or sign up for a new account
  </span>
  <hr />
  <div>
    <app-text-input
      [formControl]="$any(loginForm.controls)['username']"
      [label]="'Username'"
    ></app-text-input>
    <app-text-input
      [formControl]="$any(loginForm.controls)['password']"
      [label]="'Password'"
      [type]="'password'"
    ></app-text-input>
  </div>

  <div class="form-group mt-3 text-center">
    <span
      (click)="openModal(register)"
      class="float-left register-button"
      style="font-size: 15px; cursor: pointer;"
    >
      Register
    </span>
    <button
      [disabled]="!loginForm.valid"
      class="btn btn-primary px-5 float-right"
      type="submit"
    >
      Sign In
    </button>
  </div>
</form>

<ng-template #register>
  <div class="modal-body">
    <app-register
      (cancelRegister)="cancelRegisteredMode($event)"
    ></app-register>
  </div>
</ng-template>
