<div class="container">
<form [formGroup]="$any(registerForm)" (ngSubmit)="registerForm.valid && createItem()" autocomplete="off">
    <h2>Create new Item</h2>
    <hr>
    <app-text-input [formControl]='$any(registerForm.controls)["name"]' [label]='"name"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls)["type"]' [label]='"type"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls)["level"]' [label]='"level"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls)["damage"]' [label]='"damage"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls)["accuracy"]' [label]='"accuracy"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls)["maxHp"]' [label]='"maxHp"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls)["armour"]' [label]='"armour"'></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls)["value"]' [label]='"value"'></app-text-input>


    <div class=" text-center">
        <button onclick="createItem()" class="btn btn-success mr-2">Create Item</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>

<p>Form value: {{registerForm.status | json}}</p>

</div>