<div class="backpack-area">
  <p class="ml-3 backpack-headings"><span>Backpack: ({{ this.backpackLimit?.length }}/40)</span> <span class="ml-5">Gold: {{player?.gold}}</span></p>
  <div *ngFor="let number of numbers" class="backpack-slot">
    <div *ngIf="player.backpack[number].name">
      <ng-template #itemTemplate>
        <div class="p-3">
          <span style="font-size:14px; color: gold;">{{ player.backpack[number].name }}</span>
          <div *ngIf="player.backpack[number].damage">
            Damage {{ player.backpack[number].damage }}
          </div>
          <div *ngIf="player.backpack[number].armour">
            Armour {{ player.backpack[number].armour }}
          </div>
          <div *ngIf="player.backpack[number].evasion">
            Evasion {{ player.backpack[number].evasion }}
          </div>
          <div *ngIf="player.backpack[number].accuracy">
            Accuracy {{ player.backpack[number].accuracy }}
          </div>
          <div *ngIf="player.backpack[number].hpMax">
            Hp {{ player.backpack[number].hpMax }}
          </div>
          <div class="text-warning" *ngIf="player.backpack[number].value">
            Value {{ player.backpack[number].value }}
          </div>
        </div>
      </ng-template>
      <img
        *ngIf="player.backpack[number].name"
        src="../../../assets/items/{{ player.backpack[number].name }}.png"
        class="equipment"
        alt="?"
        [tooltip]="itemTemplate"
      />
      <div class="itemButtons">
        <button
          (click)="equipItem(player.backpack[number], number)"
          role="button"
          class="btn-success equipmentButton"
        >
          Equip
        </button>
  
        <button
          (click)="sellItem(player.backpack[number], number)"
          role="button"
          class="btn-primary equipmentButton"
        >
          Sell
        </button>
      </div>
    </div>
  </div>
</div>
