.bg-black-75 {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white;
  }
  
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
  }
  .font-size-sm {
    font-size: 0.875rem !important;
  }
  .font-w400 {
    font-weight: 400 !important;
  }
  .text-danger {
    color: #e56767 !important;
  }
  
  .btn-alt-success:hover {
    color: #176044;
    background-color: #a0e8cd;
    border-color: #a0e8cd;
  }
  .btn:hover {
    color: #343a40;
    text-decoration: none;
  }
  
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer;
  }
  .btn-alt-success {
    color: #176044;
    background-color: #bff0dd;
    border-color: #bff0dd;
  }
  
  .btn-gamemode-standard {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
  
  .m-1 {
    margin: 0.25rem !important;
  }
  .btn-lg,
  .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
  
  .font-size-sm {
    font-size: 0.875rem !important;
  }
  .font-w400 {
    font-weight: 400 !important;
  }
  .text-info {
    color: #5cace5 !important;
  }
  
  .hero-static {
    min-height: 100vh;
  }

  
  .battleArea {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }