<div *ngIf="!newCharacter" class="text-center characterSelect">
  <div class="container">
    <h1 class="font-w700 text-warning">
      Select your Character
    </h1>

    <div *ngIf="user$ | async; let user">
      <div *ngFor="let character of characters?.character">
        <row>
          <div
            *ngIf="character.userId === user.userId"
            class="w-100"
            id="character-selection-container"
          >
            <div
              class="bg-black-75 btn-group mt-1 mb-1 w-100"
              role="group"
              aria-label="Horizontal Primary"
            >
              <button
                (click)="selectCharacter(character)"
                type="button"
                class="btn btn-lg btn-gamemode-standard card-body"
              >
                <div class="col-12">
                  <div class="media d-flex align-items-center push">
                    <div class="media-body text-center mr-2">
                      <h5 class="font-w600 mb-1 pt-2 font-size-sm text-warning">
                        Cloud Character
                      </h5>
                      <h5 class="font-w600 mb-2 font-size-lg text-white">
                        {{ character.characterName }}
                      </h5>
                      <div role="separator" class="dropdown-divider"></div>
                      <h5 class="font-w400 font-size-sm text-white">
                        <span>Level: {{ character.level }}</span>
                        <br />
                        Gold: {{ character.gold }}
                      </h5>
                    </div>
                  </div>
                  <div class="col-12 pl-0">
                    <h5
                      class="font-w400 font-size-sm text-danger text-center"
                    >
                      Not currently fighting
                    </h5>
                  </div>
                </div>
              </button>
              <a>
                <button
                  (click)="onDelete(character._id)"
                  role="button"
                  class="btn-danger btndelete btn-cloud-sign-in"
                >
                  Delete
                </button>
              </a>
            </div>
          </div>
        </row>
      </div>
    </div>

    <div class="text-white-75 my-2">
      <button
        (click)="this.newCharacter = true"
        type="button"
        style="font-size: 1.5rem;"
        class="w-100 btn-danger btn-lg btn-alt-success btn-cloud-sign-in"
      >
        <span>Create new Character</span>
      </button>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="newCharacter">
  <h2 class="text-center text-white">What shall we call you adventurer?</h2>
  <form
    [formGroup]="$any(characterNameForm)"
    (ngSubmit)="characterNameForm.valid && createCharacter()"
    autocomplete="off"
  >
    <div>
      <app-text-input
        style="border-radius: 5px;"
        [formControl]="$any(characterNameForm.controls)['characterName']"
        [label]="'Character Name'"
        aria-placeholder="Character Name"
      ></app-text-input>
      <button
        [disabled]="!characterNameForm.valid"
        class="btn btn-primary px-5 float-right"
        type="submit"
      >
        Begin your journey
      </button>
    </div>
  </form>
</div>
